HF_TOKEN=
CUDA_VISIBLE_DEVICES=0
WANDB_DISABLED=true
TORCH_VERSION=2.8.0
PYTORCH_INDEX_URL=https://download.pytorch.org/whl/cu128
SFT_HF_INCLUDE=
SFT_HF_EXCLUDE=
SFT_HF_CONFIG=Math
SFT_HF_SPLIT=think
RL_HF_INCLUDE=
RL_HF_EXCLUDE=
SFT_USE_LORA=true
SFT_LORA_R=16
SFT_LORA_ALPHA=32
SFT_LORA_DROPOUT=0.05
