HF_TOKEN=
CUDA_VISIBLE_DEVICES=0
WANDB_DISABLED=true
TORCH_VERSION=2.8.0
PYTORCH_INDEX_URL=https://download.pytorch.org/whl/cu128
SFT_HF_INCLUDE=
SFT_HF_EXCLUDE=
SFT_HF_CONFIG=Math
SFT_HF_SPLIT=train
RL_HF_INCLUDE=
RL_HF_EXCLUDE=
